{% extends 'admin/base.html' %}

{% from 'admin/list.html' import render_list %}

{% block title %}Courses{% endblock %}

{% block main %}
<div class="container">
  <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '/';">
    <ol class="breadcrumb border rounded-0 shadow-sm">
      <li class="breadcrumb-item"><a href="/admin" title="Dashboard"><i class="fa-solid fa-cog fa-fw"></i></a></li>
      <li class="breadcrumb-item active" aria-current="page">Courses</li>
    </ol>
  </nav>

  {{
    render_list(
      courses,
      actions=[
        {'endpoint': '.delete', 'label': 'Delete', 'method': 'DELETE', 'confirm': 'Are you sure you want to delete these course(s)? This operation is irreversible.'},
      ],
      columns=[
        {'name': 'name', 'label': 'Name'},
        {'align': 'end', 'name': 'hole_count', 'label': 'Holes'},
      ],
    )
  }}
</div>
{% endblock %}
