{% extends 'admin/base.html' %}

{% from 'admin/form.html' import render_form %}
{% from 'admin/list.html' import render_list %}
{% import 'widgets/form.html' as form_widgets %}

{% block title %}
{% if course %}{{ course.name }}{% else %}New{% endif %}
{% endblock %}

{% block main %}
<div class="container">
  <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '/';">
    <ol class="breadcrumb border rounded-0 shadow-sm">
      <li class="breadcrumb-item"><a href="/admin" title="Dashboard"><i class="fa-solid fa-cog fa-fw"></i></a></li>
      <li class="breadcrumb-item"><a href="/admin/courses">Courses</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% if course %}{{ course.name }}{% else %}New{% endif %}</li>
    </ol>
  </nav>

  {% call
    render_form(
      course,
      actions=[
        {'endpoint': '.delete', 'label': 'Delete', 'method': 'DELETE', 'confirm': 'Are you sure you want to delete this course? This operation is irreversible.'},
      ],
    ) 
  %}
  <div class="row" style="max-width:768px;">
    <div class="col-md-8 mb-3">
      {{ form_widgets.render_field(form.name) }}
    </div>
    <div class="col-12 h-100 mb-3">
      {{ form_widgets.render_textarea(form.description, editor=True) }}
    </div>
    <div class="col-12 mb-3">
      {{ form_widgets.render_coordinates(form.pos) }}
    </div>
  </div>
  {% endcall %}
</div>
{% endblock %}
