{% extends 'admin/base.html' %}

{% from 'admin/form.html' import render_form %}
{% from 'admin/list.html' import render_list %}
{% import 'widgets/form.html' as form_widgets %}

{% block title %}
{% if course %}{{ course.name }}{% else %}New{% endif %}
{% endblock %}

{% block main %}
<div class="container">
  <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '/';">
    <ol class="breadcrumb border rounded-0 shadow-sm">
      <li class="breadcrumb-item"><a href="/admin" title="Dashboard"><i class="fa-solid fa-cog fa-fw"></i></a></li>
      <li class="breadcrumb-item"><a href="/admin/courses">Courses</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% if course %}{{ course.name }}{% else %}New{% endif %}</li>
    </ol>
  </nav>

  {% call
    render_form(
      course
    ) 
  %}

  {% endcall %}
</div>
{% endblock %}
