{% extends 'admin/base.html' %}

{% from 'admin/list.html' import render_list %}
{% from 'admin/widgets/date.html' import render_date %}

{% block title %}Courses{% endblock %}

{% block main %}
{{ super() }}
<div class="container">
  {{
    render_list(
      courses,
      actions=[
        {'endpoint': '.delete', 'label': 'Delete', 'method': 'DELETE', 'confirm': 'Are you sure you want to delete these courses? This operation is irreversible.'},
      ],
      columns=[
        {'name': 'hole_count', 'label': 'Holes'},
      ],
      title='name',
      title_label='Name',
    ) 
  }}
</div>
{% endblock %}
