{% extends 'admin/base.html' %}

{% block main %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb rounded-0">
      <li class="breadcrumb-item"><a href="{{ url_for('admin.index') }}"><i class="fa-solid fa-cog"></i></a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('.list') }}">Users</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('.read', id=user.id) }}">{{ user.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Auditing Events</li>
    </ol>
  </nav>

  {% include 'admin/auth/audit-list.html' %}
</div>
{% endblock %}
