{% from 'admin/list.html' import render_list %}
{% from 'admin/widgets/date.html' import render_date %}

{{
  render_list(
    events,
    actions=[
        {'endpoint': '.list', 'label': 'Export', 'method': 'GET', 'multi': True},
    ],
    columns=[
      {'name': 'date', 'label': 'Date', 'render': render_date},
      {'name': 'category', 'label': 'Category'},
      {'name': 'message', 'label': 'Message'},
    ],
    create=False,
    list_endpoint='.audit_events',
    list_endpoint_kwargs={'user_id': user.id},
    read_endpoint='.audit_event',
    read_endpoint_kwargs={'user_id': user.id},
  ) 
}}
