{% extends 'admin/base.html' %}

{% from 'admin/list.html' import render_list %}
{% from 'admin/widgets/date.html' import render_date %}
{% from 'admin/widgets/user.html' import render_user %}

{% block title %}Auditing Events{% endblock %}

{% block main %}
{{ super() }}
<div class="container">
  {{
    render_list(
      events,
      actions=[
      ],
      columns=[
        {'name': 'date', 'label': 'Date', 'render': render_date},
        {'name': 'category', 'label': 'Category'},
        {'name': 'event', 'label': 'Event'},
        {'name': 'message', 'label': 'Message'},
        {'name': 'remote_addr', 'label': 'IP Address'},
        {'name': 'user', 'label': 'User', 'render': render_user},
      ],
      create=False,
      list_endpoint='.audit_events',
      read_endpoint='.audit_event',
    ) 
  }}
</div>
{% endblock %}
