{% macro render_form(
  record,
  actions=[{'label': 'Delete', 'method': 'DELETE'}],
  prefix='',
  base_endpoint='.',
  create_endpoint='create',
  list_endpoint='list',
  update_endpoint='update',
  update_label='Save',
  endpoint_kwargs={}
) %}

{% if record %}
<form id="{{ prefix }}record-form" class="card mb-3" action="{{ url_for(base_endpoint + update_endpoint, id=record.id, **endpoint_kwargs) }}" method="POST">
{% else %}
<form id="{{ prefix }}record-form" class="card mb-3" action="{{ url_for(base_endpoint + create_endpoint, **endpoint_kwargs) }}" method="POST">
{% endif %}

  <div class="card-header d-flex justify-content-between align-items-center pe-3">
    <div class="me-1">
      <button type="submit" class="btn btn-outline-primary text-nowrap me-1"><i class="fa-solid fa-floppy-disk me-1"></i> {{ update_label or 'Save' }}</button>
      {% if record %}
      <button type="reset" class="btn btn-outline-danger me-1">Discard</button>
      {% else %}
      <a href="{{ url_for(base_endpoint + list_endpoint, **endpoint_kwargs) }}" class="btn btn-outline-danger me-1">Discard</a>
      {% endif %}

      {% for action in actions|selectattr('button')|rejectattr('button', 'false')|rejectattr('multi', 'false') %}
      <button class="btn btn-{% if action.button is true %}outline-primary{% else %}{{ action.button }}{% endif %} me-1 d-none d-mb-block-inline" hx-{{ action.method or 'POST' }}="#" hx-params="" {% if action.confirm %}hx-confirm="{{ action.confirm }}"{% endif %} type="button">{{ action.label }}</button>
      {% endfor %}
    </div>
    <div class="d-flex align-items-center ms-auto">
      
    </div>
  </div>

  <div class="card-body">
    {{ caller() }}
  </div>
</div>
{% endmacro %}
