$enable-rounded: false;

$brand-facebook: #1877f2;
$brand-github: #333;
$brand-google: #ea4335;
$brand-instagram: #c13584;
$brand-linkedin: #0a66c2;
$brand-mastodon: #6364ff;
$brand-microsoft: #00a1f1;
$brand-odoo: #714B67;
$brand-opencart: rgb(4,182,240);  // rgb(62,202,240)
$brand-shopify: #95bf46;
$brand-stack-exchange: #1e5397;
$brand-stack-overflow: #f48024;
$brand-twitter: #1da1f2;
$brand-whatsapp: #128c7e;
$brand-woocommerce: #7f54b3;
$brand-youtube: #ff0000;

$navbar-dark-color: rgba(255, 255, 255, 0.9);
$navbar-dark-hover-color: rgba(255, 255, 255, 1.0);

$primary: #2fb380;
